body{
    font-family: sans-serif;
    background-color: aquamarine;
}

.imagenes-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.imagen {
    position: relative;
    margin-right: -20px;
    display: flex;
    flex-direction: column;
}

.imagen:hover img{
    transform: translateY(-20px);
}

img{
    width: 100px;
    height: 100px;
    transition: transform 0.32s ease-in-out;
}

.nombre {
    position: absolute;
    background-color: black;
    border-radius: 5%;
    color: white;
    display: none;
    min-width: 100px;
    width: 150px;
    top: -70px;
    padding: 10px 15px;
    left: calc(-30px);
}

.text {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    width: 150px;
    text-align: center;
    box-sizing: border-box;
}

.imagen:hover .nombre{
    display: inline-block;
    transform: translateY(-20px);
}

.nombre::before{
    content:"";
    position: absolute;
    width: 1px;
    height: 1px;
    left: 40%;
    bottom: -20px;
    border-top: 10px solid black;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

}



@media(max-width:680px){
    .imagenes-container{
        flex-direction: column;
        height: 180vh;
    }
}